.mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 55vh;
  right: 0;
  top: -6px;
  padding: 18px 16px;
  background-color: white;
}

.menu-mobiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 22px;
  width: 95%;
  height: 100%;
}

ul li {
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: auto;
}

.menu-mobiles li {
  padding: 0 14px;
  font-size: 15px;
  list-style: none;
}

.menu-mobiles a {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 50px;
  text-decoration: none;
}

.menu-mobiles a:hover {
  border-bottom: 2px solid #e45454;
  padding-bottom: 2px;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
}
